/pratica1/exercicio4/Aula03/nbproject/private/
/pratica1/exercicio4/Aula03/build/
/pratica1/exercicio4/Aula03/dist/
/pratica2/exercicio1/aula4/nbproject/private/
/pratica2/exercicio1/aula4/build/
/pratica2/exercicio1/aula4/dist/
/pratica3/Exercicio1/AplicaçãoJava/nbproject/private/
/pratica3/Exercicio1/AplicaçãoJava/dist/
/pratica3/Exercicio1/AplicaçãoJava/build/
/pratica4/exercicio1/nbproject/private/
/pratica4/Concessionaria/nbproject/private/
/pratica4/Concessionaria/build/
/pratica4/Concessionaria/dist/
/pratica4/concessionaria2/nbproject/private/
/pratica4/concessionaria2/build/
/pratica4/concessionaria2/dist/